/* Definición de la animación de entrada */
.animacion-entrada {
  opacity: 0;
  /* transform: translateY(1000px); */
  animation: subirConOpacidad 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* Keyframes para controlar el movimiento y la opacidad */
@keyframes subirConOpacidad {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.boton-agenda {
    border: solid 1px white; 
    background-color: #d5a6a776;
    width: 60%;
    border-radius: 2px; 
    max-width: 300px;
    /* min-width: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    font-size: clamp(10px, 3vw, 20px);
    cursor: pointer;
    margin-top: 20px;
    transition: all 1s ease;
    color: rgb(255, 255, 255);
}

.boton-agenda:hover {
    color: #ffffff; 
    background-color: #00000064;
    transform: translateY(-8px);
}

.boton-agenda:active {
    transform: translateY(0);
}

