@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&family=Montserrat:wght@300;400;500;600&display=swap');

.contenedor-mision-vision{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.contenido-principal{
    width: 100%;
    padding: 50px 12px 0px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1860px;
}

/* Estilos de Textos */
.bloque-texto {
  margin-bottom: 30px;
  color: #000000;
}

.titulo-serif {
  font-weight: 600;
  color: #111111;
  margin: 0 0 10px 0;
}

.bloque-texto p {
  line-height: 1.55;
  font-weight: 500;
  color: #646464;
  margin: 0 0 14px 0;
  text-align: justify;
}

.contenedor-bloque-texto{
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1880px;
    transition: all 1s ease;
    
}

/* Banner Gerente General */
.banner-gerente {
    width: 100%;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #caafb0 0%, #b89899 50%, #8c6e70 100%);
    position: relative;
    margin: 35px 0 25px 0;
    padding: 20px 12px;
    min-height: 105px;
    overflow: visible;
    gap: 10px;
    transition: all 1s ease;
}

.contenedor-foto-gerente {
  width: 40%;
  position: relative;
  margin-top: -35px; 
  max-width: 740px;
  transition: all 1s ease;
}

.foto-gerente {
  width: 100%;
  max-width: 180px;
  max-height: 200px;
  display: block;
  object-fit: cover;
  transition: all 1s ease;
  mask-image: linear-gradient(black 80%, transparent); /*para pintar el 80% de la image y trasparentar la parte de abajo de ella*/
}

.info-gerente {
  width: 60%;
  text-align: center;
  max-width: 1112px;
  transition: all 1s ease;
}

.nombre-gerente {
  /* font-weight: 500; */
  color: #1a1a1a;
  margin: 0 0 8px 0;
  max-width: 1112px;
}

.cargo-gerente {
  font-family: var(--fuente-pricncipal);
  font-style: italic;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-size: clamp(14px, 3vw, 22px);
  transition: all 1s ease;
}

@media (min-width: 700px) {

    .contenedor-cabecera{
        transition: all 1s ease;
        height: 50px;
    }

    .contenido-principal{
        padding: 50px 30px 0px 30px;
        transition: all 1s ease;
    }

    .contenedor-bloque-texto{
        padding: 0 90px 40px 90px;
        transition: all 1s ease;
    }

    .foto-gerente {
        justify-self: center;
        transition: all 1s ease;
    }
}

@media (min-width: 900px) {
    .contenido-principal{
        padding: 50px 40px 0px 40px;
        transition: all 1s ease;
    }

    .contenedor-bloque-texto{
        padding: 0 170px 40px 170px;
        transition: all 1s ease;
    }

    .banner-gerente {
        max-height: 220px;
        margin: 100px 0 45px 0;
        min-height: 105px;
        transition: all 1s ease;
    }

    .contenedor-foto-gerente {
        margin-top: -85px; 
        transition: all 1s ease;
    }

    .foto-gerente {
        max-width: 260px;
        max-height: 300px;
        transition: all 1s ease;
    }

    .cargo-gerente {
        font-size: clamp(26px, 3vw, 30px);
        transition: all 1s ease;
    }
}

@media (min-width: 1024px) {
    .contenido-principal{
        padding: 50px 80px 0px 80px;
        transition: all 1s ease;
    }

    .contenedor-bloque-texto{
        padding: 0 230px 40px 230px;
        transition: all 1s ease;
    }
}

@media (min-width: 1280px) {
    .contenido-principal{
        padding: 50px 180px 0px 180px;
        transition: all 1s ease;
    }

    .contenedor-bloque-texto{
        padding: 0 300px 40px 300px;
        transition: all 1s ease;
    }
}