*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --fuente-pricncipal: 'Playfair Display', serif;
  --fuente-secundaria: 'Poppins', sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(255, 255, 255);
    }
}







